

/* Index, About, and Portfolio Pages */

body {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v800-mynt-21-job597_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=786f030dc03e30b31d633515ce8620ad);
    rotate: 45;
    background-size:80em;
    
}


.mainheader {
    border-radius: 60%;
    font-family: garamond;
    background-image: url(https://st4.depositphotos.com/13324256/i/600/depositphotos_255067270-stock-photo-multicolored-light-beige-green-blue.jpg);
    background-position: center;
    background-position-y: -6em;
    padding: 20px;
    height: 120px;
    box-shadow: 1px 2px 8px rgba(73, 71, 71, 0.5);

    text-align: center;
    text-shadow: 1.5px 1.5px burlywood;
}

.links {
    text-shadow: 0px 0px burlywood;
}


.qualities {
    font-family: papyrus;
    align-items: center;
}

/* Index/Home Webpage Only*/

.hometext {
    font-family: papyrus;
    text-align: center;
}


/* About Webpage Only*/

.aboutmidheader {
    font-family: garamond;
    text-align: center;
}

.aboutmid h2 {
    text-align: center;
    font-family: papyrus;
}


/* Portfolio Webpage Only*/






/* NOTES: 
Searched for "soft beige aesthetic wallpaper" in Google and found background image. 
Searched "soft beige green background" and found feather image.*/